.home_utama {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--text-color);;
    background-color: var(--bg);
    position: relative;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    animation: pulseGlow 2s ease-in-out infinite;
}
.home_utama h1 {
  font-size: 4.8rem;
  color: var(--primary);
  font-family: "Mountains of Christmas", serif;
  text-shadow: 
    0 1px 0 #fff, 
    0 2px 0 var(--primary), 
    0 3px 0 var(--primary), 
    0 4px 0 var(--primary), 
    4px 3px rgba(227, 176, 9, 0.8);
}

.home_utama h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
}
.home_utama h4 {
  font-size: 1.5rem;
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 10px;
}
.home_utama p {
  font-size: 1.25rem;
  font-family: 'Poppins', sans-serif;
}

.countdown {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.countdown div {
  flex: 1 1 80px;
  text-align: center;
  background: rgba(255, 73, 37, 0.637);
  padding: 0.8rem 0.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(255, 170, 1, 0.3);
  transition: transform 0.3s ease;
  margin-left: 10px;
  margin-right: 10px;
}
.countdown div:hover {
  transform: scale(1.05);
}
.countdown p {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
  color: rgba(255, 255, 255, 0.927);
  font-weight: bold;
}
.countdown span {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.874);
}
.highlighted-text {
  font-family: "Segoe UI", sans-serif;
  font-size: 2.6rem;
  font-weight: 700;
  color: #333333;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  animation: pulseGlow 2s ease-in-out infinite;
}